[defaults]
inventory          = inventory/hosts
roles_path         = roles
vault_password_file = .vault-password-op.sh
retry_files_enabled = False
host_key_checking  = False
stdout_callback    = yaml
stderr_callback    = yaml
gathering          = smart
fact_caching       = jsonfile
fact_caching_connection = .ansible_facts
fact_caching_timeout = 86400

[ssh_connection]
pipelining = True
